// IMPORTS
@import 'mq';

// VARS
// Media queries
$base: 0px;
$mobile: 600px;
$tablet: 768px;

// Layout
$base-width: 92%;

// Colors
$color--brand: #EF4135;

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Descendant elems.
    * {
        font-size: inherit;
    }
}

body {
    color: $color--brand;
    font-family: 'Cousine', monospace;
    font-size: 1.6rem;

    padding: 8rem 0 6rem;

    // Media queries
    @include mq( $from: $tablet ) {
        font-size: 2rem;
    }

    // Descendant elems.
    * {
        font-size: 1em;
        line-height: 1.4;
    }
}

header {
    width: $base-width;
    max-width: 76rem;
    margin: 0 auto 5rem;

    text-align: center;
}

main {
    width: $base-width;
    max-width: 80rem;
    margin: 0 auto 8rem;
}

footer {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

.preheader {
    width: 100%;
    height: auto;
    display: none; /// TEMP
    color: #fff;
    background: rgba( $color--brand, 1 );
    padding: 1.2rem 2rem 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    // Descendant elems.
    * {
        font-size: 1.4rem;
        font-weight: normal;
    }
}


.brand {
    width: 100%;
    max-width: 26rem;
    display: block;
    margin: 0 auto 3rem;

    // Descendant elems.
    img {
        width: 100%;
    }
}

.contact-info {
    width: auto;
    max-width: 30rem;
    display: block;
    margin: 0 auto;

    // Descendant elems.
    * {
        display: block;
        color: inherit;
        font-style: normal;
        text-decoration: none;
    }
}

.menu {
    width: 100%;
    border: 0.2rem solid $color--brand;
    margin: 0 auto;
}

.menu-row,
.menu-row--item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    // Positional styles
    &:not( :last-child ) {
        border-bottom: 0.2rem solid $color--brand;
    }
}

.quantity,
.type,
.dish,
.price {
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;
    line-height: 1.5;
}

.quantity,
.type {
    font-weight: bold;
}

.type,
.dish {
    padding-left: 1rem;
    padding-right: 1rem;
}

.quantity {
    display: none;
    text-align: center;

    // Media queries
    @include mq( $from: $mobile ) {
        display: block;
        width: 12%;
    }

    @include mq( $from: $tablet ) {
        width: 8%;
    }
}

.type {
    // Media queries
    @include mq( $from: $mobile ) {
        border-left: 0.2rem solid $color--brand;
    }
}

.dish {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;

    // Media queries
    @media ( min-width: $mobile ) {
        border-left: 0.2rem solid $color--brand;
        margin-left: 12%;
    }

    @media ( min-width: $tablet ) {
        margin-left: 8%;
    }
}

.dish__index {
    margin-right: 1rem;
}

.dish__name {
    flex: 1 1 auto;
    display: flex;
}

.dish__name__zh {
    flex: 0 0 28%;
    margin-right: 2rem;
}

.dish__name__en {
    font-weight: normal;
}

.price {
    width: 12%;
    flex: 0 0 auto;
    padding-left: 0.5rem;

    // Media queries
    @media ( min-width: $tablet ) {
        width: 8%;
        border-left: 0.2rem solid $color--brand;
        padding-left: 1rem;
    }
}
